/*######### Defaults ############*/

nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

label {
    font-size: 35px;
    font-weight: 600;
}

p {
    font-size: 28px;
    line-height: 1.2;
}

article p {
    font-size: 35px;
    padding: 20px;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*########### Nav bar ###############*/

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: #fff;
}

ul.topnav li.dropdownIcon {
    display: none;
    float: right;
}

/*######### Custom styles ########*/

#section-1-gradient {
    background: #076DFF;
    background: linear-gradient(#076DFF, #65a5ff);
    background: -webkit-linear-gradient(#076DFF, #65a5ff);
    background: -o-linear-gradient(#076DFF, #65a5ff);
    background: -moz-linear-gradient(#076DFF, #65a5ff);
}

/* https://www.cssmatic.com/box-shadow */

div.box {
    text-align: center;
    margin: 24px;
    padding: 36px, 24px 40px 24px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px 0 rgba(0, 0, 0, .1);
}

button {
    font-size: 32px;
    font-weight: 700;
    color: white;
    background-color: #0069ff;
    ;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}

button.learnMore {
    display: block;
    margin: auto;
}

div.icon {
    width: 100%;
}

div.icon img {
    width: 200px;
    height: 150px;
}

div.slopeIcon img {
    display: block;
    margin: auto;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, .15), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

.leftSide-col {
    margin-left: 30%;
}

.rightSide-col {
    margin-left: 15%;
}

h1.large {
    color: white;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

h1.section2Header {
    font-size: 65px;
    text-align: center;
}

form h2 {
    color: white;
}

input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

iframe {
    width: 560px;
    height: 315px;
    display: block;
    margin: auto;
}

footer.footsy {
    background-color: #666;
    padding-left: 10%;
}

footer.footsy h1 {
    color: white;
    font-size: 35px;
}

footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li {
    color: white;
    font-size: 22px;
    line-height: 1.5;
}

/*############ Mobile #############*/

@media screen and (max-width: 1500px) {
    div.slopeIcon img {
        width: 70%;
    }
    .col-7, .col-5 {
        width: 100%;
        margin: 0;
    }
    div.slopeIcon {
        margin: 10px;
    }
}

@media screen and (max-width: 1380px) {
    input[type="text"] {
        width: 350px;
    }
    div.leftSide-col, div.rightSide-col {
        margin: 15px;
    }
}

@media screen and (max-width: 1160px) {
    .col-6 {
        width: 50%;
        margin: 0;
    }
    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 755px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none
    }
    ul.topnav li.dropdownIcon {
        display: block
    }
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    .videoContainer {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    h1.section2Header {
        font-size: 50px;
    }
    article p {
        font-size: 25px;
    }
    div.slopeIcon {
        margin: 10px;
    }
    div.slopeIcon img {
        width: 100%;
    }
    .col-7, .col-6, .col-5, .col-4 {
        width: 100%;
        margin: 0;
    }
    div.mobileStack {
        width: 50%;
        display: block;
    }
    div.box {
        padding: 5px;
        display: block;
    }
    iframe {
        width: 560px;
        height: 315px;
    }
    input[type="text"] {
        box-sizing: border-box;
        width: 100%;
        margin-right: 15px;
    }
}

@media screen and (max-width: 620px) {
    iframe {
        width: 100%;
    }
}